*.pyc
exercita.esproj
prueba/*
lib/*
static/sketches/*
prueba.py
apache/*
static/admin/*
website/local_settings.py
.DS_STORE
_generated_media*.py
_generated_media/*
exercita.komodoproject
static/documents/*
/.komodotools/
/.settings/
/nbproject/*
exercita.komodoproject
website/local_settings.py
