# Main packages

Django


# Template Extras

Jinja2==2.5.5
Djinja
pyjade


# Utilities

django-piston
django-social-auth
django-picklefield
django-sendfile
django-mediagenerator


# Search Engine

-e git://github.com/toastdriven/django-haystack.git#egg=django-haystack
-e git://github.com/toastdriven/pyelasticsearch.git#egg=pyelasticsearch


# Image processor
PIL


# LDAP auth

python-ldap