#documents li .preview .options a {
    display: inline-block;
    height: 48px;
    width: 48px;
    text-indent: -10000px;
    background: url('../images/options.png') no-repeat;
    margin: 0 6px;
}
a.document_new {
    text-align: right;
    color: #666;
}
#documents li .preview img {
    background: white;
    border: none;
}
#documents li .preview .options a:active {
    position: relative;
    top: 1px;
}
#documents li .preview .options a.view { background-position: 0 0 }
#documents li .preview .options a.download { background-position: -48px 0 }
#documents li .preview .options a.edit { background-position: -96px 0 }

#edit-exercices .loader {
    display: none;
}
#edit-exercices .exercise_list {
    margin-top:20px;
}

#document-details .ancillaryLink {
	font-size:12px;
	color:#666;
	clear:both;
	display:block;
	padding:6px 10px;
}

.traceback {
    overflow: auto;
    max-height: 400px;
    background: white;
    border: 1px solid #CCC;
    padding: 12px;
}