@font-face {
    font-family: "Museo Sans 500";
    src: url("type/MuseoSans_500.eot");
    src: local("Museo Sans 500"), local("MuseoSans-500"),
        url("type/MuseoSans_500.woff") format("woff"),
        url("type/MuseoSans_500.otf") format("opentype"),
        url("type/MuseoSans_500.svg#MuseoSans-500") format("svg");
    }
* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}