extends "base.jade"
block title
    = super()
    | Sesión Terminada
block container
    .container_16
        h1.grid_16 Sesión terminada
        .grid_16 Gracias por el tiempo que ha dedicado hoy a eXercita