- extends "base.haml"
- block title
    =super()
    Acceder
- block container
    .container_16
        %h1.grid_16 Accede a tu cuenta
        %form#login-form{'action':'{{ app_path }}','method':'post'}
            - csrf_token
            = form.as_ul()
            .submit-row
                %label &nbsp;
                %input{'type':'submit','value':'Acceder'}