- load 'media','active' -
!!! 5
html
    head
        block head -
            meta(charset='utf-8')
            title: block title -
                | Exercita
            - include_media "css/all.css" -
    #header
        .container_16.wrapper
            a#logo.grid_4(href='/' title='Pagina principal')
                img(src='{{media_url("images/logo.png")}}' width='148' height='42' alt='Exercita Logo')
            block navbar -
                #user-tools.grid_8
                    if user.is_active -
                        | Hola
                        strong: filter forceescape
                            = user.first_name|default(user.username)
                        block userlinks
                            a(href="{{url('django.contrib.auth.views.logout')}}")= _('Log out')
                    - else -
                        a(href="{{url('django.contrib.auth.views.login')}}")= _('Log in')
                #navbar.grid_12
                    li
                        a(href="{{ url('document_list') }}" class="{{'active' if active('document_list','document_detail','document_create','document_edit')}}") Documentos
                        a(href="{{ url('exercise_list') }}" class="{{'active' if active('exercise_list')}}") Ejercicios
            .clear
    #content(class="{{content_class}}"): block container
    #footer: block footer
    block scripts 
        script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js")
        script
            !window.jQuery && document.write(unescape('%3Cscript src=""%3E%3C/script%3E'))
                -# {_{ media_url("scripts/jquery-1.5.1.min.js")}}