- extends "base.haml"
- block container
    .container_16
        .grid_8
            %h1 Bienvenido a Exercita
            .desc Exercita es un lugar de encuentro para profesores y alumnos, editores y usuarios, para que puedan crear, modificar y distribuir sus recursos docentes y estén al alcance de todos, fácilmente.