{% extends "base.html" %}
{% block title %}{{super()}}Documento de Prueba{% endblock %}
{% block container %}
<div class="container_16">
<div class="grid 10"></div>
<h1 id="document-title" class="grid_10">Documento de prueba</h1>
<div class="clear"></div>
<div id="document-details">
<div id="document-preview" class="grid_10">
<div class="shadow left"></div>
<div class="shadow right"></div>
<div id="document-nav"></div>
<div id="document-slideshow">
<img src="{{ media_url("/documents/1-full.png")}}"/>
<img src="{{ media_url("/documents/2-full.png")}}"/>
</div>
<i class="author">Carlos Gregorio Rodríguez</i>
</div>
<div id="document-info" class="grid_6">Examen para mis alumnos de 5º de primaria, que son muy listos y seguro que lo sabrán resolver en poquito tiempo.<br /><a class="button-big" href="{{url("download-document", id=1)}}"><span><span class="icon download"></span><b class="title">Descarga el documento</b><span class="subtitle">Formato PDF</span></span></a></div>
</div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
   {{js("scripts/joined.js")}}
    <script type="text/javascript">
$('#document-slideshow').cycle({
pager:  '#document-nav',timeout:8000,speed:800}
);
</script>
{% endblock %}