{% extends "base.html" %}
{% block title %}{{super()}}Documentos{% endblock %}
{% block container %}
<ul id="edit-bar">
    <li class="">
        <a href="#basic">
            <span class="wrapper">
                <span class="icon basic"></span>
                Datos básicos
            </span>
        </a>
    </li><li class="">
        <a href="#properties">
            <span class="wrapper">
                <span class="icon properties"></span>
                Propiedades
            </span>
        </a>
    </li><li class="">
        <a href="#style">
            <span class="wrapper">
                <span class="icon style"></span>
                Estilo
            </span>
        </a>
    </li><li class="">
        <a href="#params">
            <span class="wrapper">
                <span class="icon params"></span>
                Parámetros
            </span>
        </a>
    </li><li class="">
        <a href="#exercices">
            <span class="wrapper">
                <span class="icon exercices"></span>
                Ejercicios
            </span>
        </a>
    </li>

</ul>
{% macro draw_fields(names) -%}
 {% for field in names %}
    {% set field = form[field] %}
    {#<label for="id_{{ field.name }}" class="pull5 main">{{field.label}}</label>#}
       
       <div{% if field.errors|count >0 %} class="error"{% endif %}>{{field.label_tag(attrs={'class':" grid_5 main "})}}<div class="grid_11">{{ field }}{{field.errors}}{% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}</div>
       <div class="clear"></div>
       </div>
{% endfor %}
{%- endmacro %}
<form action="" method="post" id="document-form">
{{csrf_token()}}
<div id="edit-content" class="container_16">
{#<div> {{draw_fields(form.fields)}}</div>#}
    <div id="edit-basic" class="inner">
    {{ draw_fields(['title','description','public']) }}
    </div>
    <div id="edit-properties" class="inner">
    {{ draw_fields(['type','heading','heading_symmetry','numeration']) }}
    </div>
    <div id="edit-style" class="inner">
    {{ draw_fields(['doc_number','doc_part_number','doc_title','doc_epilog','doc_part_style','doc_example_style','doc_hint_style','doc_bibliography_style','doc_history_style']) }}
    </div>
    <div id="edit-params" class="inner">
    {{ draw_fields(['date','academic_year','subject','semester','group','degree','institution']) }}
    </div>
    <div id="edit-exercices" class="inner">
    <div id="document-preview-exercices" class="grid_5">
        <div class="shadow left"></div><div class="shadow right"></div>
        <span class="noexercices">Aún no ha añadido ningún ejercicio.</span>
        <ul class="exercices">
        </ul>
        {{ form['exercises'] }}{{form['exercises'].errors}}
    </div>
    <div class="grid_9">
        <input type="text" name="search" id="instant-exercices" class="defaultText" title="Filtrar..." autocomplete="off"/>
        <ol id="exercices-results">
        </ol>
    </div>
    </div>
    
    
</div>
    <div class="clear"></div>
<div id="edit-footer" class="container_16">
    <div class="prefix_5 grid_5"><input type="submit" value="Guardar" /></div>
</div>
</form>

{% endblock %}

{% block scripts %}
{{super()}}
       {{js("scripts/joined.js")}}
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript">
    function setEditSection (hash) {
       if(str=hash.match( /^#(\w+)/)) {
            var name = str[1];
            var editSection = $('#edit-'+name);
            if (editSection.length > 0) {
            $('#edit-content>.show').removeClass('show');
            editSection.addClass('show');
            var height = editSection.height();
            $('#edit-content').height(height);
            $('#edit-bar a.selected').removeClass('selected');
            $('#edit-bar a[href=#'+name+']').addClass('selected');
            }
        }
    }
    $(window).hashchange( function(){
        var hash = location.hash;
        setEditSection(hash);
    });
    
        $(document).ready(function() {
        
    add = function  (exercise) {
        checked = exercise.checked!==undefined?exercise.checked:[];
        
        h = '<li id="exercise-'+exercise.id+'"><span class="position"></span><b>'+exercise.title+'</b>';
        names = {'hint':'Pista','part':'Apartado','solution':'Solucion','example':'Ejemplo'};
        $.each(exercise.sections,function(key,value){
            h += '<dl><dt>'+names[key]+'</dt>';
            $.each(value,function(i,s){
                h += '<dd><input type="checkbox" name="'+s+'" value="'+s+'" '+(($.inArray(s,checked)>-1)?'checked':'')+'>'+s+'</dd>';
            });
            h += '</dl>';
        });
        
        h += '<div class="clear"></div></li>';
        $('#document-preview-exercices .exercices').append(h);
    };
    addMultiple = function (exercises) {
        $.each(exercises,function(index,exercise){
            add(exercise);
        });
    }
    {% if exercises %}addMultiple({{exercises}});{% endif %}
    function checkExercises() {
    exers = []
    $('#document-preview-exercices li').each(function(){
        $$ = $(this);
        a = $$.attr('id').slice('exercise-'.length);
        checked = []
        $$.find('input:checked').each(function(){
            checked.push($(this).attr('name'));
        });
        if (checked.length>0) {
            a += '['+checked.join(',')+']';
        }
        exers.push(a);
    });
    return exers.join(';');
    }
    
    $('#document-form').submit(function() {
        $('#id_exercises').val(checkExercises());
    });
    
    var exercises = $('#exercices-results');
    function showResults(data) {
        //console.log(data);
        exercises.empty();
        $.each(data.exercises,function(index,exercise){
            elem = $('<li class="e" id="exercise-'+exercise.id+'"><span class="tl"><h3>'+exercise.title+'</h3><a class="button-small add"><span>+</span></a></span><div class="s">'+exercise.description+'</div></li>');
            elem.find('.add').click(function(e) {
                
                add(exercise);
        updateExercices($( "#document-preview-exercices .exercices" ));
            });
        exercises.append(elem);
        });
    }
            var runningRequest = false;
    var request;
   //Identify the typing action
    $('input#instant-exercices').keydown(function(e){
        //e.preventDefault();
        //if ($(this).val().length < 3) return;
        var $q = $(this);
        code = e.keyCode ? e.keyCode : e.which;
        if($q.val() == ''){
            $('#exercices-results').html('');
            //return false;
        }

        //Abort opened requests to speed it up
        if(runningRequest){
            request.abort();
        }

        runningRequest=true;
        request = $.getJSON("http://exercita.local/ejercicios.json",{
            q:$q.val()+String.fromCharCode(code)
        },function(data){     
        //alert(data.results);
            //console.log(data.q);      
            showResults(data);
            runningRequest=false;
        });
    });    
        
            if (location.hash != '') setEditSection(location.hash);
            else setEditSection('#basic');
            
                $(".defaultText").focus(function(srcc)
    {
        if ($(this).val() == $(this)[0].title)
        {
            $(this).removeClass("defaultTextActive");
            $(this).val("");
        }
    });
    
    $(".defaultText").blur(function()
    {
        if ($(this).val() == "")
        {
            $(this).addClass("defaultTextActive");
            $(this).val($(this)[0].title);
        }
    });
    
    $(".defaultText").blur();    
    
            //alert('a');
            //$('#edit-content').height($('#edit-basic').css({opacity:1,display:'block'}).height());
            //$('#prueba').tooltip({ effect: 'slide',position: 'center right',direction:'right',predelay:600}).dynamic({left: { direction: 'left',position:'center left'}})    ;
            var noExercices = $( "#document-preview-exercices .noexercices" );
            var updateExercices = function (ul) {
            var children = ul.children();
            if (children.length == 0) {
                noExercices.show();
                ul.hide();
            }
            else {
                noExercices.hide();
                ul.show();            
            }
            var position = children.each(function(){
                var $$$ =$(this);
                var index = children.index($$$)+1;
                $$$.find('span').html(index);
            })
            };

            $( "#document-preview-exercices .exercices" ).sortable({axis:'y',distance:5,cursor:'move',update:function(event,ui){
            
            updateExercices($(ui.item).parent());
            }});
            
            updateExercices($( "#document-preview-exercices .exercices" ));
        
            
                    });
                    

    </script>

{% endblock %}