{% extends "base.html" %}
{% block title %}{{super()}}Documentos{% endblock %}
{% block content %}
<ul id="edit-bar">
    <li class="">
        <a href="#basic">
            <span class="wrapper">
                <span class="icon basic"></span>
                Datos básicos
            </span>
        </a>
    </li><li class="">
        <a href="#properties">
            <span class="wrapper">
                <span class="icon properties"></span>
                Propiedades
            </span>
        </a>
    </li><li class="">
        <a href="#style">
            <span class="wrapper">
                <span class="icon style"></span>
                Estilo
            </span>
        </a>
    </li><li class="">
        <a href="#params">
            <span class="wrapper">
                <span class="icon params"></span>
                Parámetros
            </span>
        </a>
    </li><li class="">
        <a href="#exercices">
            <span class="wrapper">
                <span class="icon exercices"></span>
                Ejercicios
            </span>
        </a>
    </li>

</ul>
{% macro draw_fields(names) -%}
 {% for field in names %}
    {% set field = form[field] %}
    {#<label for="id_{{ field.name }}" class="pull5 main">{{field.label}}</label>#}
       <div> {{field.label_tag(attrs={'class':" grid_5 main"})}}<div class="grid_11">{{ field }}{% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}</div>
       <div class="clear"></div>
       </div>
{% endfor %}
{%- endmacro %}
<div id="edit-content" class="container_16">
{#<div> {{draw_fields(form.fields)}}</div>#}
    <div id="edit-basic" class="inner">
    {{ draw_fields(['title','description','public']) }}
    </div>
    <div id="edit-properties" class="inner">
    {{ draw_fields(['type','heading','heading_symmetry','numeration']) }}
    </div>
    <div id="edit-style" class="inner">
    {{ draw_fields(['doc_number','doc_part_number','doc_title','doc_epilog','doc_part_style','doc_example_style','doc_hint_style','doc_bibliography_style','doc_history_style']) }}
    </div>
    <div id="edit-params" class="inner">
    {{ draw_fields(['date','academic_year','subject','semester','group','degree','institution']) }}
    </div>
    <div id="edit-exercices" class="inner">
    <div id="document-preview-exercices" class="grid_5">
        <div class="shadow left"></div><div class="shadow right"></div>
        <span class="noexercices">Aún no ha añadido ningún ejercicio.</span>
        <ul class="exercices">
        </ul>
    </div>
    <div class="grid_9">
        <input type="text" name="search" id="instant-exercices" class="defaultText" title="Filtrar..." />
        <ol id="exercices-results">
            <li class="e"><span class="tl"><h3>Los hexagramas del yin y el yang</h3><a class="button add"><span>añadir</span></a></span><div class="s">En la filosofía tradicional china, la dualidad complementaria se expresa mediante los símbolos yin y yang. En el I Ching (El libro de los cambios), estos...</div></li>
            <li class="e"><span class="tl"><h3>AVE CESAR: DCH FHADV</h3><a class="button add"><span>añadir</span></a></span><div class="s">El dictador perpetuus Julio César utilizaba un código cuando quería mantener en secreto un mensaje. El cifrado consistía en sustituir la primera letra del alfabeto...</div></li>
            <li class="e"><span class="tl"><h3>Los cubos de Nicómaco</h3><a class="button add"><span>añadir</span></a></span><div class="s">Considera la siguiente propiedad descubierta por Nicómaco de Gerasa:
Sumando el primer impar, se obtiene el primer cubo...</div></li>
            <li class="e"><span class="tl"><h3>Un dibujo de Escher</h3><a class="button add"><span>añadir</span></a></span><div class="s">Observa el dibujo de M. C. Escher (1898–1972) que aparece en la figura ?? titulado Wentelteefje. No pretendemos en este ejercicio imitar la maestría de Escher al dibujar sus...</div></li>
            
        </ol>
    </div>
    </div>
    
    
</div>
    <div class="clear"></div>
<div id="edit-footer" class="container_16">
    <div class="prefix_5 grid_5"><input type="submit" value="Guardar" /></div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript">
    function setEditSection (hash) {
       if(str=hash.match( /^#(\w+)/)) {
            var name = str[1];
            var editSection = $('#edit-'+name);
            if (editSection.length > 0) {
            $('#edit-content>.show').removeClass('show');
            editSection.addClass('show');
            var height = editSection.height();
            $('#edit-content').height(height);
            $('#edit-bar a.selected').removeClass('selected');
            $('#edit-bar a[href=#'+name+']').addClass('selected');
            }
        }
    }
    $(window).hashchange( function(){
        var hash = location.hash;
        setEditSection(hash);
    });
    
        $(document).ready(function() {
        
    add = function  (name) {
        $('#document-preview-exercices .exercices').append('<li><span class="position"></span><b>'+name+'</b></li>');
    }
    $('#exercices-results a.add').click(function(e) {
        add($(this).parent().find('h3').text());
        updateExercices($( "#document-preview-exercices .exercices" ));
    });
            var runningRequest = false;
    var request;
   //Identify the typing action
    $('input#instant-exercices').keyup(function(e){
        e.preventDefault();
        var $q = $(this);

        if($q.val() == ''){
            $('#exercices-results').html('');
            return false;
        }

        //Abort opened requests to speed it up
        if(runningRequest){
            request.abort();
        }

        runningRequest=true;
        request = $.getJSON('search.php',{
            q:$q.val()
        },function(data){           
            showResults(data,$q.val());
            runningRequest=false;
        });
    });    
        
            if (location.hash != '') setEditSection(location.hash);
            else setEditSection('#basic');
            
                $(".defaultText").focus(function(srcc)
    {
        if ($(this).val() == $(this)[0].title)
        {
            $(this).removeClass("defaultTextActive");
            $(this).val("");
        }
    });
    
    $(".defaultText").blur(function()
    {
        if ($(this).val() == "")
        {
            $(this).addClass("defaultTextActive");
            $(this).val($(this)[0].title);
        }
    });
    
    $(".defaultText").blur();    
    
            //alert('a');
            //$('#edit-content').height($('#edit-basic').css({opacity:1,display:'block'}).height());
            //$('#prueba').tooltip({ effect: 'slide',position: 'center right',direction:'right',predelay:600}).dynamic({left: { direction: 'left',position:'center left'}})    ;
            var noExercices = $( "#document-preview-exercices .noexercices" );
            var updateExercices = function (ul) {
            var children = ul.children();
            if (children.length == 0) {
                noExercices.show();
                ul.hide();
            }
            else {
                noExercices.hide();
                ul.show();            
            }
            var position = children.each(function(){
                var $$$ =$(this);
                var index = children.index($$$)+1;
                $$$.find('span').html(index);
            })
            };

            $( "#document-preview-exercices .exercices" ).sortable({axis:'y',distance:5,cursor:'move',update:function(event,ui){
            
            updateExercices($(ui.item).parent());
            }});
            
            updateExercices($( "#document-preview-exercices .exercices" ));
            
            
                    });
                    

    </script>

{% endblock %}